# Local demo inputs begin
/_local/
/abstract.txt
/OverAll_Architecture.pdf
/table.png
/overview.png
# PDF overview local inputs begin
/overview.pdf
/overview_origin.png
# PDF overview local inputs end
# Local demo inputs end
